body {
  font-family: "Times New Roman", Times, serif;
}

.nav-link {
  color: #dc3545;
  font-weight: bold;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #155724;
}

.card-container {
  display: flex;
}

.custom-card,
.card {
  flex: 1;
  margin-right: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-card img,
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.custom-card .card-body,
.card-body {
  padding: 20px;
}

.custom-card .card-title,
.card-title {
  color: #333333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.custom-card .card-text,
.card-text {
  color: #666666;
  font-size: 1em;
}

.btn {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.course {
  margin: 0 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-title {
  margin-left: 20px;
  color: brown;
  
}

footer {
  background-color: #f8f9fa;
  padding: 1rem;
  color: #6c757d;
  margin-top: 1rem;
}

.container-main {
  display: flex;
  justify-content: space-between;
}

.left-part,
.right-part {
  flex: 0 0 48%;
}

.image-container {
  text-align: center;
}

.card-img-top {
  width: 200px;
  height: auto;
  object-fit: cover;
  max-height: 150px;
}

@media (max-width: 768px) {
  .container-main {
    flex-direction: column;
  }

  .left-part,
  .right-part {
    flex: 1;
    width: 100%;
  }

  .card-img-top {
    width: 100%;
    max-height: 200px;
  }
}
